In [1]:
import pandas as pd

In [2]:
d1 = pd.read_excel('Data Dictionary.xlsx')

In [3]:
d1

,Variable Name,Description,Unnamed: 2
0,UniqueID,Identifier for customers,NaN
1,loan_default,Payment default in the first EMI on due date,NaN
2,disbursed_amount,Amount of Loan disbursed,NaN
3,asset_cost,Cost of the Asset,NaN
4,ltv,Loan to Value of the asset,NaN
5,branch_id,Branch where the loan was disbursed,NaN
6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,Current_pincode,Current pincode of the customer,NaN
9,Date.of.Birth,Date of birth of the customer,NaN
10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,DisbursalDate,Date of disbursement,NaN
12,State_ID,State of disbursement,NaN
13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,PERFORM_CNS.SCORE,Bureau Score,NaN
21,PERFORM_CNS.SCORE.DESCRIPTION,Bureau score description,NaN
22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN

In [4]:
data = pd.read_csv('Loan Default Data.csv')

In [5]:
data.head().transpose()

,0,1,2,3,4
UniqueID,420825,537409,417566,624493,539055
disbursed_amount,50578,47145,53278,57513,52378
asset_cost,58400,65550,61360,66113,60300
ltv,89.55,73.23,89.63,88.48,88.39
branch_id,67,67,67,67,67
supplier_id,22807,22807,22807,22807,22807
manufacturer_id,45,45,45,45,45
Current_pincode_ID,1441,1502,1497,1501,1495
Date.of.Birth,01-01-84,31-07-85,24-08-85,30-12-93,09-12-77
Employment.Type,Salaried,Self employed,Self employed,Self employed,Self employed
DisbursalDate,03-08-18,26-09-18,01-08-18,26-10-18,26-09-18
State_ID,6,6,6,6,6
Employee_code_ID,1998,1998,1998,1998,1998
MobileNo_Avl_Flag,1,1,1,1,1
Aadhar_flag,1,1,1,1,1
PAN_flag,0,0,0,0,0
VoterID_flag,0,0,0,0,0
Driving_flag,0,0,0,0,0
Passport_flag,0,0,0,0,0
PERFORM_CNS.SCORE,0,598,0,305,0
PERFORM_CNS.SCORE.DESCRIPTION,No Bureau History Available,I-Medium Risk,No Bureau History Available,L-Very High Risk,No Bureau History Available
PRI.NO.OF.ACCTS,0,1,0,3,0
PRI.ACTIVE.ACCTS,0,1,0,0,0
PRI.OVERDUE.ACCTS,0,1,0,0,0
PRI.CURRENT.BALANCE,0,27600,0,0,0
PRI.SANCTIONED.AMOUNT,0,50200,0,0,0
PRI.DISBURSED.AMOUNT,0,50200,0,0,0
SEC.NO.OF.ACCTS,0,0,0,0,0
SEC.ACTIVE.ACCTS,0,0,0,0,0
SEC.OVERDUE.ACCTS,0,0,0,0,0
SEC.CURRENT.BALANCE,0,0,0,0,0
SEC.SANCTIONED.AMOUNT,0,0,0,0,0
SEC.DISBURSED.AMOUNT,0,0,0,0,0
PRIMARY.INSTAL.AMT,0,1991,0,31,0
SEC.INSTAL.AMT,0,0,0,0,0
NEW.ACCTS.IN.LAST.SIX.MONTHS,0,0,0,0,0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,0,1,0,0,0
AVERAGE.ACCT.AGE,0yrs 0mon,1yrs 11mon,0yrs 0mon,0yrs 8mon,0yrs 0mon
CREDIT.HISTORY.LENGTH,0yrs 0mon,1yrs 11mon,0yrs 0mon,1yrs 3mon,0yrs 0mon
NO.OF_INQUIRIES,0,0,0,1,1
loan_default,0,1,0,1,1

In [6]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
UniqueID,233154.0,535917.573376,6.831569e+04,417428.00,476786.25,535978.5,595039.75,6.710840e+05
disbursed_amount,233154.0,54356.993528,1.297131e+04,13320.00,47145.00,53803.0,60413.00,9.905720e+05
asset_cost,233154.0,75865.068144,1.894478e+04,37000.00,65717.00,70946.0,79201.75,1.628992e+06
ltv,233154.0,74.746530,1.145664e+01,10.03,68.88,76.8,83.67,9.500000e+01
branch_id,233154.0,72.936094,6.983499e+01,1.00,14.00,61.0,130.00,2.610000e+02
supplier_id,233154.0,19638.635035,3.491950e+03,10524.00,16535.00,20333.0,23000.00,2.480300e+04
manufacturer_id,233154.0,69.028054,2.214130e+01,45.00,48.00,86.0,86.00,1.560000e+02
Current_pincode_ID,233154.0,3396.880247,2.238148e+03,1.00,1511.00,2970.0,5677.00,7.345000e+03
State_ID,233154.0,7.262243,4.482230e+00,1.00,4.00,6.0,10.00,2.200000e+01
Employee_code_ID,233154.0,1549.477148,9.752613e+02,1.00,713.00,1451.0,2362.00,3.795000e+03
MobileNo_Avl_Flag,233154.0,1.000000,0.000000e+00,1.00,1.00,1.0,1.00,1.000000e+00
Aadhar_flag,233154.0,0.840320,3.663097e-01,0.00,1.00,1.0,1.00,1.000000e+00
PAN_flag,233154.0,0.075577,2.643201e-01,0.00,0.00,0.0,0.00,1.000000e+00
VoterID_flag,233154.0,0.144943,3.520439e-01,0.00,0.00,0.0,0.00,1.000000e+00
Driving_flag,233154.0,0.023242,1.506720e-01,0.00,0.00,0.0,0.00,1.000000e+00
Passport_flag,233154.0,0.002127,4.607421e-02,0.00,0.00,0.0,0.00,1.000000e+00
PERFORM_CNS.SCORE,233154.0,289.462994,3.383748e+02,0.00,0.00,0.0,678.00,8.900000e+02
PRI.NO.OF.ACCTS,233154.0,2.440636,5.217233e+00,0.00,0.00,0.0,3.00,4.530000e+02
PRI.ACTIVE.ACCTS,233154.0,1.039896,1.941496e+00,0.00,0.00,0.0,1.00,1.440000e+02
PRI.OVERDUE.ACCTS,233154.0,0.156549,5.487867e-01,0.00,0.00,0.0,0.00,2.500000e+01
PRI.CURRENT.BALANCE,233154.0,165900.076936,9.422736e+05,-6678296.00,0.00,0.0,35006.50,9.652492e+07
PRI.SANCTIONED.AMOUNT,233154.0,218503.855323,2.374794e+06,0.00,0.00,0.0,62500.00,1.000000e+09
PRI.DISBURSED.AMOUNT,233154.0,218065.898655,2.377744e+06,0.00,0.00,0.0,60800.00,1.000000e+09
SEC.NO.OF.ACCTS,233154.0,0.059081,6.267946e-01,0.00,0.00,0.0,0.00,5.200000e+01
SEC.ACTIVE.ACCTS,233154.0,0.027703,3.160566e-01,0.00,0.00,0.0,0.00,3.600000e+01
SEC.OVERDUE.ACCTS,233154.0,0.007244,1.110789e-01,0.00,0.00,0.0,0.00,8.000000e+00
SEC.CURRENT.BALANCE,233154.0,5427.792819,1.702370e+05,-574647.00,0.00,0.0,0.00,3.603285e+07
SEC.SANCTIONED.AMOUNT,233154.0,7295.923347,1.831560e+05,0.00,0.00,0.0,0.00,3.000000e+07
SEC.DISBURSED.AMOUNT,233154.0,7179.997873,1.825925e+05,0.00,0.00,0.0,0.00,3.000000e+07
PRIMARY.INSTAL.AMT,233154.0,13105.481720,1.513679e+05,0.00,0.00,0.0,1999.00,2.564281e+07
SEC.INSTAL.AMT,233154.0,323.268449,1.555369e+04,0.00,0.00,0.0,0.00,4.170901e+06
NEW.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.381833,9.551067e-01,0.00,0.00,0.0,0.00,3.500000e+01
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.097481,3.844390e-01,0.00,0.00,0.0,0.00,2.000000e+01
NO.OF_INQUIRIES,233154.0,0.206615,7.064977e-01,0.00,0.00,0.0,0.00,3.600000e+01
loan_default,233154.0,0.217071,4.122523e-01,0.00,0.00,0.0,0.00,1.000000e+00

In [7]:
data.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

In [8]:
data['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

In [9]:
data['Employment.Type'][data['Employment.Type'].isnull()]='Self employed'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
data.isnull().sum()

UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
branch_id                              0
supplier_id                            0
manufacturer_id                        0
Current_pincode_ID                     0
Date.of.Birth                          0
Employment.Type                        0
DisbursalDate                          0
State_ID                               0
Employee_code_ID                       0
MobileNo_Avl_Flag                      0
Aadhar_flag                            0
PAN_flag                               0
VoterID_flag                           0
Driving_flag                           0
Passport_flag                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
loan_default                           0
dtype: int64

In [11]:
data.drop(['UniqueID','branch_id','supplier_id','manufacturer_id','State_ID','Employee_code_ID','Current_pincode_ID'],axis=1,inplace=True)

In [12]:
for i in data.columns:
    print(data[i].dtype)

int64
int64
float64
object
object
object
int64
int64
int64
int64
int64
int64
int64
object
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
object
object
int64
int64

In [13]:
data['loan_default'].value_counts()

0    182543
1     50611
Name: loan_default, dtype: int64

In [14]:
# l = list(data[data['loan_default']==0].sample(n=182543-50611).index)

In [15]:
# data.drop(l,inplace=True)

In [16]:
# data.reset_index(inplace=True)

In [17]:
l = []
m = []
for i in data['AVERAGE.ACCT.AGE']:
    l.append(int(i[0]))
    m.append(int(i[-4])/12)

In [18]:
n = []
for i,j in zip(l,m):
    n.append(i+j)

In [19]:
data['AVERAGE.ACCT.AGE']=n

In [20]:
l = []
m = []
for i in data['CREDIT.HISTORY.LENGTH']:
    l.append(int(i[0]))
    m.append(int(i[-4])/12)

In [21]:
n = []
for i,j in zip(l,m):
    n.append(i+j)

In [22]:
data['CREDIT.HISTORY.LENGTH']=n

In [23]:
data

,disbursed_amount,asset_cost,ltv,Date.of.Birth,Employment.Type,DisbursalDate,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,50578,58400,89.55,01-01-84,Salaried,03-08-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
1,47145,65550,73.23,31-07-85,Self employed,26-09-18,1,1,0,0,...,0,0,1991,0,0,1,1.083333,1.083333,0,1
2,53278,61360,89.63,24-08-85,Self employed,01-08-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
3,57513,66113,88.48,30-12-93,Self employed,26-10-18,1,1,0,0,...,0,0,31,0,0,0,0.666667,1.250000,1,1
4,52378,60300,88.39,09-12-77,Self employed,26-09-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,1,1
5,54513,61900,89.66,08-09-90,Self employed,19-09-18,1,1,0,0,...,0,0,1347,0,0,0,1.750000,2.000000,0,0
6,46349,61500,76.42,01-06-88,Salaried,23-09-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
7,43894,61900,71.89,04-10-89,Salaried,16-09-18,1,1,0,0,...,0,0,0,0,0,0,0.166667,0.166667,0,0
8,53713,61973,89.56,15-11-91,Self employed,05-09-18,1,1,0,0,...,0,0,0,0,0,0,4.666667,4.666667,1,0
9,52603,61300,86.95,01-06-68,Salaried,16-09-18,1,0,0,1,...,0,0,2608,0,0,0,1.583333,1.583333,0,0
10,53278,61230,89.83,01-01-79,Self employed,29-09-18,1,1,0,0,...,0,0,2270,0,0,0,0.583333,0.583333,0,1
11,64769,74190,89.23,07-09-84,Salaried,03-09-18,1,1,0,0,...,0,0,0,0,0,0,2.083333,2.250000,1,0
12,53278,61330,89.68,01-06-74,Salaried,30-08-18,1,0,0,1,...,0,0,3300,0,0,0,1.250000,2.750000,0,1
13,49478,57010,89.46,16-08-84,Salaried,30-08-18,1,1,0,0,...,0,0,23309,0,1,0,1.000000,2.083333,4,1
14,49278,57080,89.35,18-02-73,Self employed,31-08-18,1,1,0,0,...,0,0,3514,0,0,0,3.083333,7.166667,0,1
15,47549,61400,79.80,05-07-94,Salaried,22-10-18,1,0,0,1,...,0,0,7900,0,1,0,0.083333,0.083333,0,1
16,57713,65750,89.28,01-06-76,Self employed,18-09-18,1,1,0,0,...,0,0,47100,0,1,1,2.500000,5.500000,0,0
17,53503,62100,87.28,27-02-83,Self employed,20-09-18,1,1,0,0,...,0,0,4982,0,1,0,1.000000,4.583333,0,0
18,70017,86760,82.99,10-08-88,Self employed,06-09-18,1,0,0,1,...,0,0,0,0,0,0,1.750000,1.750000,0,1
19,58259,68500,86.13,16-04-80,Self employed,11-10-18,1,1,0,0,...,0,0,0,0,0,0,0.083333,0.083333,1,1
20,58013,69650,84.71,01-11-78,Self employed,20-10-18,1,1,0,0,...,0,0,557,0,1,0,0.500000,0.000000,1,0
21,31184,57110,56.91,29-02-84,Salaried,27-08-18,1,1,0,0,...,0,0,11083,0,0,0,2.750000,5.000000,2,0
22,43594,78256,57.50,14-07-94,Self employed,08-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
23,54513,61900,89.66,31-05-79,Self employed,17-09-18,1,0,0,1,...,0,0,1700,0,0,0,1.250000,1.250000,0,0
24,73123,92900,79.66,02-01-89,Self employed,10-09-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
25,55213,68600,83.09,01-01-86,Salaried,18-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
26,53713,61780,89.83,02-08-68,Self employed,16-08-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,1
27,57713,68040,86.27,01-01-76,Self employed,10-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,1
28,57513,65750,88.97,12-09-72,Self employed,23-10-18,1,1,0,0,...,0,0,0,0,0,0,3.083333,3.083333,1,1
29,54513,61900,89.66,27-06-69,Self employed,19-09-18,1,1,0,0,...,0,0,8972,0,1,0,2.000000,5.333333,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233124,52803,68027,79.38,30-09-84,Salaried,17-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233125,40894,72123,58.23,13-05-88,Salaried,13-10-18,1,0,0,0,...,0,0,16547,0,1,0,2.250000,5.416667,0,0
233126,42894,73505,59.86,02-12-74,Self employed,05-10-18,1,0,0,1,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233127,63447,82220,79.06,05-03-76,Self employed,13-10-18,1,1,0,0,...,0,0,0,0,3,0,1.083333,3.166667,0,0
233128,57259,73914,79.15,06-04-69,Salaried,23-10-18,1,1,0,0,...,0,0,11830,0,1,0,0.166667,0.166667,2,1
233129,58513,81739,73.40,18-07-80,Salaried,10-09-18,1,1,0,0,...,0,0,79611,0,1,1,2.083333,6.166667,0,0
233130,60447,78437,79.04,16-01-64,Salaried,20-08-18,1,1,0,0,...,0,0,23356,0,1,0,4.083333,9.416667,0,0
233131,29029,68935,43.52,31-12-94,Self employed,27-09-18,1,1,0,0,...,0,0,8244,0,1,0,0.416667,0.750000,0,0
233132,60447,78437,79.04,03-09-92,Self employed,30-08-18,1,1,0,0,...,0,0,10480,0,1,0,0.083333,1.083333,1,0
233133,53303,69351,77.86,31-12-80,Salaried,26-10-18,1,0,0,1,...,0,0,0,0,0,0,6.000000,1.416667,0,0
233134,48349,96022,51.55,01-06-81,Self employed,24-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233135,39439,60334,66.30,01-01-96,Salaried,26-10-18,1,0,0,1,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233136,50155,60679,85.00,02-11-72,Salaried,23-10-18,1,0,0,1,...,0,0,8288,0,0,0,4.500000,4.500000,0,0
233137,43210,60334,72.93,14-09-73,Self employed,27-10-18,1,1,0,0,...,0,0,14583,0,1,1,1.250000,2.333333,0,0
233138,28029,45953,63.11,20-03-83,Salaried,23-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233139,42894,69351,63.45,14-08-81,Self employed,24-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,1.166667,0,0
233140,42894,60334,72.93,23-01-89,Self employed,26-10-18,1,1,0,0,...,0,0,12880,0,0,0,3.000000,8.166667,0,0
233141,29029,45233,66.32,09-01-96,Salaried,23-10-18,1,0,0,1,...,0,0,2034,0,0,0,0.500000,0.500000,0,0
233142,57013,69001,84.78,03-03-94,Self employed,23-10-18,1,1,0,0,...,0,0,4665,0,1,0,0.416667,0.666667,0,0
233143,61213,89708,69.11,25-01-67,Self employed,26-10-18,1,1,0,0,...,0,0,12602,0,1,0,1.583333,3.000000,0,0
233144,56059,69001,83.04,15-06-63,Salaried,24-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233145,49803,66973,76.15,23-12-85,Self employed,23-10-18,1,1,0,0,...,0,0,1672,0,2,0,0.750000,2.500000,1,0
233146,38439,52965,74.58,23-07-82,Self employed,26-10-18,1,1,0,0,...,0,0,0,0,2,0,0.250000,0.250000,0,0
233147,72623,105405,69.73,19-06-89,Salaried,31-10-18,1,1,0,0,...,0,0,0,0,1,0,0.750000,1.000000,0,0
233148,42894,60334,72.93,08-07-93,Salaried,24-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233149,63213,105405,60.72,01-08-88,Salaried,26-10-18,1,0,0,1,...,0,0,4084,0,0,0,1.750000,3.250000,0,0
233150,73651,100600,74.95,05-12-88,Self employed,23-10-18,1,0,0,1,...,0,0,1565,0,0,0,0.500000,0.500000,0,0
233151,33484,71212,48.45,01-06-76,Salaried,24-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233152,34259,73286,49.10,26-03-94,Salaried,29-09-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0
233153,75751,116009,66.81,18-02-84,Salaried,27-10-18,1,1,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0,0

In [24]:
# data.drop('index',axis=1,inplace=True)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 34 columns):
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
Date.of.Birth                          233154 non-null object
Employment.Type                        233154 non-null object
DisbursalDate                          233154 non-null object
MobileNo_Avl_Flag                      233154 non-null int64
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          233154 non-null object
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
AVERAGE.ACCT.AGE                       233154 non-null float64
CREDIT.HISTORY.LENGTH                  233154 non-null float64
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
dtypes: float64(3), int64(27), object(4)
memory usage: 60.5+ MB

In [26]:
l = []
for i in data['Date.of.Birth']:
    l.append(i[-2:])

In [27]:
l

['84',
 '85',
 '85',
 '93',
 '77',
 '90',
 '88',
 '89',
 '91',
 '68',
 '79',
 '84',
 '74',
 '84',
 '73',
 '94',
 '76',
 '83',
 '88',
 '80',
 '78',
 '84',
 '94',
 '79',
 '89',
 '86',
 '68',
 '76',
 '72',
 '69',
 '74',
 '90',
 '66',
 '96',
 '77',
 '93',
 '86',
 '91',
 '77',
 '96',
 '69',
 '93',
 '82',
 '90',
 '76',
 '90',
 '93',
 '86',
 '74',
 '80',
 '86',
 '71',
 '89',
 '94',
 '84',
 '84',
 '95',
 '93',
 '76',
 '64',
 '76',
 '78',
 '84',
 '72',
 '95',
 '85',
 '85',
 '91',
 '67',
 '85',
 '83',
 '95',
 '67',
 '80',
 '93',
 '88',
 '73',
 '86',
 '83',
 '86',
 '70',
 '70',
 '93',
 '78',
 '69',
 '97',
 '78',
 '98',
 '99',
 '83',
 '94',
 '98',
 '79',
 '93',
 '75',
 '83',
 '78',
 '68',
 '90',
 '98',
 '77',
 '90',
 '93',
 '80',
 '78',
 '89',
 '79',
 '76',
 '83',
 '90',
 '78',
 '67',
 '88',
 '94',
 '91',
 '89',
 '69',
 '72',
 '80',
 '81',
 '95',
 '88',
 '87',
 '84',
 '77',
 '98',
 '72',
 '83',
 '62',
 '77',
 '83',
 '96',
 '87',
 '91',
 '80',
 '90',
 '86',
 '72',
 '88',
 '69',
 '91',
 '86',
 '90',
 '84',
 '79',
 '73',
 '72',
 '85',
 '82',
 '84',
 '78',
 '96',
 '74',
 '76',
 '96',
 '82',
 '94',
 '93',
 '76',
 '93',
 '83',
 '70',
 '96',
 '85',
 '88',
 '93',
 '79',
 '65',
 '83',
 '57',
 '87',
 '91',
 '74',
 '78',
 '78',
 '76',
 '85',
 '93',
 '89',
 '85',
 '65',
 '77',
 '77',
 '84',
 '77',
 '95',
 '68',
 '74',
 '88',
 '90',
 '87',
 '63',
 '72',
 '60',
 '82',
 '80',
 '81',
 '67',
 '93',
 '92',
 '92',
 '55',
 '86',
 '76',
 '84',
 '76',
 '70',
 '71',
 '62',
 '93',
 '75',
 '93',
 '87',
 '93',
 '81',
 '62',
 '86',
 '83',
 '97',
 '70',
 '64',
 '92',
 '70',
 '65',
 '73',
 '94',
 '83',
 '79',
 '76',
 '88',
 '85',
 '94',
 '89',
 '73',
 '80',
 '78',
 '90',
 '88',
 '94',
 '82',
 '68',
 '94',
 '83',
 '59',
 '78',
 '83',
 '83',
 '86',
 '84',
 '78',
 '79',
 '84',
 '86',
 '85',
 '95',
 '80',
 '94',
 '93',
 '78',
 '86',
 '82',
 '73',
 '71',
 '57',
 '70',
 '80',
 '82',
 '94',
 '82',
 '80',
 '95',
 '55',
 '77',
 '70',
 '60',
 '80',
 '93',
 '64',
 '95',
 '91',
 '82',
 '89',
 '96',
 '92',
 '81',
 '76',
 '84',
 '83',
 '81',
 '93',
 '66',
 '94',
 '83',
 '94',
 '76',
 '76',
 '87',
 '57',
 '92',
 '86',
 '79',
 '73',
 '77',
 '94',
 '84',
 '88',
 '95',
 '82',
 '84',
 '68',
 '91',
 '58',
 '76',
 '72',
 '77',
 '76',
 '84',
 '81',
 '81',
 '95',
 '64',
 '85',
 '83',
 '92',
 '75',
 '74',
 '93',
 '93',
 '75',
 '66',
 '94',
 '90',
 '81',
 '91',
 '84',
 '92',
 '89',
 '80',
 '78',
 '72',
 '82',
 '83',
 '89',
 '71',
 '88',
 '87',
 '77',
 '91',
 '95',
 '74',
 '91',
 '95',
 '96',
 '86',
 '87',
 '80',
 '66',
 '94',
 '91',
 '82',
 '89',
 '86',
 '87',
 '94',
 '78',
 '79',
 '95',
 '77',
 '84',
 '67',
 '96',
 '84',
 '71',
 '81',
 '84',
 '97',
 '87',
 '81',
 '56',
 '62',
 '92',
 '95',
 '77',
 '78',
 '84',
 '91',
 '71',
 '89',
 '65',
 '74',
 '68',
 '82',
 '71',
 '83',
 '62',
 '67',
 '92',
 '88',
 '74',
 '80',
 '82',
 '71',
 '86',
 '85',
 '80',
 '91',
 '73',
 '91',
 '87',
 '86',
 '81',
 '79',
 '73',
 '92',
 '81',
 '93',
 '93',
 '91',
 '88',
 '87',
 '95',
 '97',
 '69',
 '92',
 '65',
 '85',
 '83',
 '90',
 '90',
 '79',
 '95',
 '89',
 '92',
 '82',
 '96',
 '95',
 '96',
 '74',
 '91',
 '90',
 '96',
 '92',
 '73',
 '96',
 '75',
 '94',
 '96',
 '93',
 '73',
 '97',
 '87',
 '95',
 '83',
 '77',
 '85',
 '74',
 '96',
 '80',
 '70',
 '71',
 '96',
 '64',
 '96',
 '67',
 '72',
 '91',
 '82',
 '81',
 '89',
 '94',
 '94',
 '76',
 '65',
 '97',
 '82',
 '68',
 '94',
 '75',
 '92',
 '86',
 '80',
 '89',
 '76',
 '71',
 '70',
 '95',
 '93',
 '90',
 '77',
 '94',
 '79',
 '75',
 '68',
 '91',
 '86',
 '93',
 '96',
 '71',
 '79',
 '96',
 '78',
 '75',
 '91',
 '88',
 '82',
 '89',
 '84',
 '92',
 '74',
 '89',
 '91',
 '87',
 '80',
 '73',
 '76',
 '83',
 '85',
 '92',
 '57',
 '84',
 '91',
 '63',
 '91',
 '62',
 '93',
 '80',
 '62',
 '62',
 '70',
 '94',
 '69',
 '63',
 '72',
 '75',
 '62',
 '86',
 '94',
 '83',
 '70',
 '93',
 '93',
 '89',
 '92',
 '84',
 '81',
 '93',
 '87',
 '69',
 '86',
 '77',
 '79',
 '93',
 '92',
 '85',
 '70',
 '80',
 '69',
 '65',
 '88',
 '93',
 '83',
 '79',
 '74',
 '83',
 '60',
 '96',
 '70',
 '77',
 '71',
 '86',
 '76',
 '92',
 '88',
 '96',
 '92',
 '80',
 '92',
 '75',
 '94',
 '61',
 '93',
 '96',
 '89',
 '68',
 '85',
 '80',
 '68',
 '92',
 '81',
 '87',
 '94',
 '89',
 '77',
 '71',
 '78',
 '92',
 '67',
 '84',
 '86',
 '85',
 '74',
 '77',
 '94',
 '67',
 '77',
 '96',
 '69',
 '62',
 '68',
 '80',
 '92',
 '72',
 '90',
 '59',
 '68',
 '62',
 '80',
 '87',
 '96',
 '95',
 '85',
 '92',
 '81',
 '92',
 '71',
 '95',
 '72',
 '78',
 '80',
 '93',
 '81',
 '95',
 '84',
 '57',
 '76',
 '96',
 '91',
 '82',
 '77',
 '83',
 '80',
 '76',
 '90',
 '83',
 '77',
 '65',
 '78',
 '68',
 '96',
 '76',
 '68',
 '69',
 '93',
 '79',
 '82',
 '91',
 '78',
 '76',
 '75',
 '92',
 '85',
 '82',
 '94',
 '65',
 '81',
 '76',
 '84',
 '65',
 '88',
 '71',
 '95',
 '64',
 '84',
 '94',
 '67',
 '64',
 '96',
 '91',
 '88',
 '71',
 '58',
 '90',
 '79',
 '69',
 '95',
 '93',
 '92',
 '73',
 '75',
 '84',
 '70',
 '87',
 '83',
 '91',
 '85',
 '90',
 '76',
 '72',
 '76',
 '94',
 '70',
 '87',
 '77',
 '88',
 '90',
 '96',
 '75',
 '90',
 '85',
 '93',
 '74',
 '87',
 '85',
 '70',
 '81',
 '56',
 '78',
 '94',
 '86',
 '82',
 '81',
 '90',
 '83',
 '66',
 '65',
 '92',
 '75',
 '79',
 '65',
 '73',
 '76',
 '77',
 '72',
 '83',
 '69',
 '70',
 '90',
 '87',
 '79',
 '87',
 '89',
 '79',
 '88',
 '91',
 '89',
 '92',
 '68',
 '71',
 '80',
 '76',
 '88',
 '95',
 '81',
 '83',
 '83',
 '88',
 '76',
 '72',
 '95',
 '80',
 '84',
 '95',
 '80',
 '72',
 '96',
 '87',
 '68',
 '80',
 '84',
 '88',
 '80',
 '66',
 '86',
 '95',
 '86',
 '75',
 '81',
 '65',
 '88',
 '73',
 '58',
 '89',
 '76',
 '65',
 '83',
 '78',
 '90',
 '93',
 '83',
 '90',
 '90',
 '92',
 '93',
 '87',
 '85',
 '97',
 '91',
 '95',
 '78',
 '86',
 '91',
 '94',
 '60',
 '96',
 '93',
 '87',
 '95',
 '85',
 '72',
 '91',
 '82',
 '83',
 '95',
 '97',
 '67',
 '75',
 '95',
 '84',
 '71',
 '92',
 '88',
 '92',
 '64',
 '73',
 '65',
 '88',
 '89',
 '82',
 '70',
 '74',
 '62',
 '82',
 '90',
 '87',
 '74',
 '96',
 '66',
 '88',
 '90',
 '88',
 '62',
 '92',
 '74',
 '92',
 '81',
 '89',
 '88',
 '80',
 '93',
 '85',
 '84',
 '84',
 '89',
 '77',
 '88',
 '81',
 '82',
 '73',
 '79',
 '86',
 '81',
 '82',
 '84',
 '95',
 '87',
 '87',
 '85',
 '94',
 '83',
 '97',
 '92',
 '90',
 '94',
 '77',
 '00',
 '93',
 '76',
 '87',
 '72',
 '85',
 '92',
 '82',
 '96',
 '89',
 '94',
 '73',
 '93',
 '93',
 '94',
 '64',
 '72',
 '91',
 '75',
 '90',
 '88',
 '87',
 '78',
 '91',
 '95',
 '86',
 '82',
 '80',
 '95',
 '65',
 '68',
 '94',
 '86',
 '60',
 '80',
 '92',
 '68',
 '92',
 '71',
 '75',
 '91',
 '84',
 '78',
 '82',
 '92',
 '79',
 '86',
 '84',
 '82',
 '90',
 '74',
 '92',
 '95',
 '73',
 '87',
 '85',
 '74',
 '72',
 '73',
 '86',
 '81',
 '86',
 '64',
 '95',
 '60',
 '78',
 '96',
 '67',
 '82',
 '78',
 '80',
 '95',
 '58',
 '97',
 '93',
 '78',
 '80',
 '80',
 '66',
 '79',
 '82',
 '86',
 '75',
 '78',
 '94',
 '68',
 '65',
 '91',
 '73',
 '70',
 '84',
 '96',
 '88',
 '94',
 '82',
 '72',
 '85',
 '86',
 '68',
 '78',
 '66',
 '88',
 '74',
 '90',
 '79',
 '74',
 '64',
 '58',
 '85',
 '63',
 '81',
 '90',
 '97',
 '81',
 '70',
 '68',
 '82',
 '82',
 '72',
 '97',
 '66',
 '92',
 '89',
 '80',
 '59',
 '82',
 ...]

In [28]:
m = []
for i in l:
    m.append(int('19'+i))

In [29]:
m

[1984,
 1985,
 1985,
 1993,
 1977,
 1990,
 1988,
 1989,
 1991,
 1968,
 1979,
 1984,
 1974,
 1984,
 1973,
 1994,
 1976,
 1983,
 1988,
 1980,
 1978,
 1984,
 1994,
 1979,
 1989,
 1986,
 1968,
 1976,
 1972,
 1969,
 1974,
 1990,
 1966,
 1996,
 1977,
 1993,
 1986,
 1991,
 1977,
 1996,
 1969,
 1993,
 1982,
 1990,
 1976,
 1990,
 1993,
 1986,
 1974,
 1980,
 1986,
 1971,
 1989,
 1994,
 1984,
 1984,
 1995,
 1993,
 1976,
 1964,
 1976,
 1978,
 1984,
 1972,
 1995,
 1985,
 1985,
 1991,
 1967,
 1985,
 1983,
 1995,
 1967,
 1980,
 1993,
 1988,
 1973,
 1986,
 1983,
 1986,
 1970,
 1970,
 1993,
 1978,
 1969,
 1997,
 1978,
 1998,
 1999,
 1983,
 1994,
 1998,
 1979,
 1993,
 1975,
 1983,
 1978,
 1968,
 1990,
 1998,
 1977,
 1990,
 1993,
 1980,
 1978,
 1989,
 1979,
 1976,
 1983,
 1990,
 1978,
 1967,
 1988,
 1994,
 1991,
 1989,
 1969,
 1972,
 1980,
 1981,
 1995,
 1988,
 1987,
 1984,
 1977,
 1998,
 1972,
 1983,
 1962,
 1977,
 1983,
 1996,
 1987,
 1991,
 1980,
 1990,
 1986,
 1972,
 1988,
 1969,
 1991,
 1986,
 1990,
 1984,
 1979,
 1973,
 1972,
 1985,
 1982,
 1984,
 1978,
 1996,
 1974,
 1976,
 1996,
 1982,
 1994,
 1993,
 1976,
 1993,
 1983,
 1970,
 1996,
 1985,
 1988,
 1993,
 1979,
 1965,
 1983,
 1957,
 1987,
 1991,
 1974,
 1978,
 1978,
 1976,
 1985,
 1993,
 1989,
 1985,
 1965,
 1977,
 1977,
 1984,
 1977,
 1995,
 1968,
 1974,
 1988,
 1990,
 1987,
 1963,
 1972,
 1960,
 1982,
 1980,
 1981,
 1967,
 1993,
 1992,
 1992,
 1955,
 1986,
 1976,
 1984,
 1976,
 1970,
 1971,
 1962,
 1993,
 1975,
 1993,
 1987,
 1993,
 1981,
 1962,
 1986,
 1983,
 1997,
 1970,
 1964,
 1992,
 1970,
 1965,
 1973,
 1994,
 1983,
 1979,
 1976,
 1988,
 1985,
 1994,
 1989,
 1973,
 1980,
 1978,
 1990,
 1988,
 1994,
 1982,
 1968,
 1994,
 1983,
 1959,
 1978,
 1983,
 1983,
 1986,
 1984,
 1978,
 1979,
 1984,
 1986,
 1985,
 1995,
 1980,
 1994,
 1993,
 1978,
 1986,
 1982,
 1973,
 1971,
 1957,
 1970,
 1980,
 1982,
 1994,
 1982,
 1980,
 1995,
 1955,
 1977,
 1970,
 1960,
 1980,
 1993,
 1964,
 1995,
 1991,
 1982,
 1989,
 1996,
 1992,
 1981,
 1976,
 1984,
 1983,
 1981,
 1993,
 1966,
 1994,
 1983,
 1994,
 1976,
 1976,
 1987,
 1957,
 1992,
 1986,
 1979,
 1973,
 1977,
 1994,
 1984,
 1988,
 1995,
 1982,
 1984,
 1968,
 1991,
 1958,
 1976,
 1972,
 1977,
 1976,
 1984,
 1981,
 1981,
 1995,
 1964,
 1985,
 1983,
 1992,
 1975,
 1974,
 1993,
 1993,
 1975,
 1966,
 1994,
 1990,
 1981,
 1991,
 1984,
 1992,
 1989,
 1980,
 1978,
 1972,
 1982,
 1983,
 1989,
 1971,
 1988,
 1987,
 1977,
 1991,
 1995,
 1974,
 1991,
 1995,
 1996,
 1986,
 1987,
 1980,
 1966,
 1994,
 1991,
 1982,
 1989,
 1986,
 1987,
 1994,
 1978,
 1979,
 1995,
 1977,
 1984,
 1967,
 1996,
 1984,
 1971,
 1981,
 1984,
 1997,
 1987,
 1981,
 1956,
 1962,
 1992,
 1995,
 1977,
 1978,
 1984,
 1991,
 1971,
 1989,
 1965,
 1974,
 1968,
 1982,
 1971,
 1983,
 1962,
 1967,
 1992,
 1988,
 1974,
 1980,
 1982,
 1971,
 1986,
 1985,
 1980,
 1991,
 1973,
 1991,
 1987,
 1986,
 1981,
 1979,
 1973,
 1992,
 1981,
 1993,
 1993,
 1991,
 1988,
 1987,
 1995,
 1997,
 1969,
 1992,
 1965,
 1985,
 1983,
 1990,
 1990,
 1979,
 1995,
 1989,
 1992,
 1982,
 1996,
 1995,
 1996,
 1974,
 1991,
 1990,
 1996,
 1992,
 1973,
 1996,
 1975,
 1994,
 1996,
 1993,
 1973,
 1997,
 1987,
 1995,
 1983,
 1977,
 1985,
 1974,
 1996,
 1980,
 1970,
 1971,
 1996,
 1964,
 1996,
 1967,
 1972,
 1991,
 1982,
 1981,
 1989,
 1994,
 1994,
 1976,
 1965,
 1997,
 1982,
 1968,
 1994,
 1975,
 1992,
 1986,
 1980,
 1989,
 1976,
 1971,
 1970,
 1995,
 1993,
 1990,
 1977,
 1994,
 1979,
 1975,
 1968,
 1991,
 1986,
 1993,
 1996,
 1971,
 1979,
 1996,
 1978,
 1975,
 1991,
 1988,
 1982,
 1989,
 1984,
 1992,
 1974,
 1989,
 1991,
 1987,
 1980,
 1973,
 1976,
 1983,
 1985,
 1992,
 1957,
 1984,
 1991,
 1963,
 1991,
 1962,
 1993,
 1980,
 1962,
 1962,
 1970,
 1994,
 1969,
 1963,
 1972,
 1975,
 1962,
 1986,
 1994,
 1983,
 1970,
 1993,
 1993,
 1989,
 1992,
 1984,
 1981,
 1993,
 1987,
 1969,
 1986,
 1977,
 1979,
 1993,
 1992,
 1985,
 1970,
 1980,
 1969,
 1965,
 1988,
 1993,
 1983,
 1979,
 1974,
 1983,
 1960,
 1996,
 1970,
 1977,
 1971,
 1986,
 1976,
 1992,
 1988,
 1996,
 1992,
 1980,
 1992,
 1975,
 1994,
 1961,
 1993,
 1996,
 1989,
 1968,
 1985,
 1980,
 1968,
 1992,
 1981,
 1987,
 1994,
 1989,
 1977,
 1971,
 1978,
 1992,
 1967,
 1984,
 1986,
 1985,
 1974,
 1977,
 1994,
 1967,
 1977,
 1996,
 1969,
 1962,
 1968,
 1980,
 1992,
 1972,
 1990,
 1959,
 1968,
 1962,
 1980,
 1987,
 1996,
 1995,
 1985,
 1992,
 1981,
 1992,
 1971,
 1995,
 1972,
 1978,
 1980,
 1993,
 1981,
 1995,
 1984,
 1957,
 1976,
 1996,
 1991,
 1982,
 1977,
 1983,
 1980,
 1976,
 1990,
 1983,
 1977,
 1965,
 1978,
 1968,
 1996,
 1976,
 1968,
 1969,
 1993,
 1979,
 1982,
 1991,
 1978,
 1976,
 1975,
 1992,
 1985,
 1982,
 1994,
 1965,
 1981,
 1976,
 1984,
 1965,
 1988,
 1971,
 1995,
 1964,
 1984,
 1994,
 1967,
 1964,
 1996,
 1991,
 1988,
 1971,
 1958,
 1990,
 1979,
 1969,
 1995,
 1993,
 1992,
 1973,
 1975,
 1984,
 1970,
 1987,
 1983,
 1991,
 1985,
 1990,
 1976,
 1972,
 1976,
 1994,
 1970,
 1987,
 1977,
 1988,
 1990,
 1996,
 1975,
 1990,
 1985,
 1993,
 1974,
 1987,
 1985,
 1970,
 1981,
 1956,
 1978,
 1994,
 1986,
 1982,
 1981,
 1990,
 1983,
 1966,
 1965,
 1992,
 1975,
 1979,
 1965,
 1973,
 1976,
 1977,
 1972,
 1983,
 1969,
 1970,
 1990,
 1987,
 1979,
 1987,
 1989,
 1979,
 1988,
 1991,
 1989,
 1992,
 1968,
 1971,
 1980,
 1976,
 1988,
 1995,
 1981,
 1983,
 1983,
 1988,
 1976,
 1972,
 1995,
 1980,
 1984,
 1995,
 1980,
 1972,
 1996,
 1987,
 1968,
 1980,
 1984,
 1988,
 1980,
 1966,
 1986,
 1995,
 1986,
 1975,
 1981,
 1965,
 1988,
 1973,
 1958,
 1989,
 1976,
 1965,
 1983,
 1978,
 1990,
 1993,
 1983,
 1990,
 1990,
 1992,
 1993,
 1987,
 1985,
 1997,
 1991,
 1995,
 1978,
 1986,
 1991,
 1994,
 1960,
 1996,
 1993,
 1987,
 1995,
 1985,
 1972,
 1991,
 1982,
 1983,
 1995,
 1997,
 1967,
 1975,
 1995,
 1984,
 1971,
 1992,
 1988,
 1992,
 1964,
 1973,
 1965,
 1988,
 1989,
 1982,
 1970,
 1974,
 1962,
 1982,
 1990,
 1987,
 1974,
 1996,
 1966,
 1988,
 1990,
 1988,
 1962,
 1992,
 1974,
 1992,
 1981,
 1989,
 1988,
 1980,
 1993,
 1985,
 1984,
 1984,
 1989,
 1977,
 1988,
 1981,
 1982,
 1973,
 1979,
 1986,
 1981,
 1982,
 1984,
 1995,
 1987,
 1987,
 1985,
 1994,
 1983,
 1997,
 1992,
 1990,
 1994,
 1977,
 1900,
 1993,
 1976,
 1987,
 1972,
 1985,
 1992,
 1982,
 1996,
 1989,
 1994,
 1973,
 1993,
 1993,
 1994,
 1964,
 1972,
 1991,
 1975,
 1990,
 1988,
 1987,
 1978,
 1991,
 1995,
 1986,
 1982,
 1980,
 1995,
 1965,
 1968,
 1994,
 1986,
 1960,
 1980,
 1992,
 1968,
 1992,
 1971,
 1975,
 1991,
 1984,
 1978,
 1982,
 1992,
 1979,
 1986,
 1984,
 1982,
 1990,
 1974,
 1992,
 1995,
 1973,
 1987,
 1985,
 1974,
 1972,
 1973,
 1986,
 1981,
 1986,
 1964,
 1995,
 1960,
 1978,
 1996,
 1967,
 1982,
 1978,
 1980,
 1995,
 1958,
 1997,
 1993,
 1978,
 1980,
 1980,
 1966,
 1979,
 1982,
 1986,
 1975,
 1978,
 1994,
 1968,
 1965,
 1991,
 1973,
 1970,
 1984,
 1996,
 1988,
 1994,
 1982,
 1972,
 1985,
 1986,
 1968,
 1978,
 1966,
 1988,
 1974,
 1990,
 1979,
 1974,
 1964,
 1958,
 1985,
 1963,
 1981,
 1990,
 1997,
 1981,
 1970,
 1968,
 1982,
 1982,
 1972,
 1997,
 1966,
 1992,
 1989,
 1980,
 1959,
 1982,
 ...]

In [30]:
for i in range(len(m)):
    m[i]=2019-m[i]

In [31]:
m

[35,
 34,
 34,
 26,
 42,
 29,
 31,
 30,
 28,
 51,
 40,
 35,
 45,
 35,
 46,
 25,
 43,
 36,
 31,
 39,
 41,
 35,
 25,
 40,
 30,
 33,
 51,
 43,
 47,
 50,
 45,
 29,
 53,
 23,
 42,
 26,
 33,
 28,
 42,
 23,
 50,
 26,
 37,
 29,
 43,
 29,
 26,
 33,
 45,
 39,
 33,
 48,
 30,
 25,
 35,
 35,
 24,
 26,
 43,
 55,
 43,
 41,
 35,
 47,
 24,
 34,
 34,
 28,
 52,
 34,
 36,
 24,
 52,
 39,
 26,
 31,
 46,
 33,
 36,
 33,
 49,
 49,
 26,
 41,
 50,
 22,
 41,
 21,
 20,
 36,
 25,
 21,
 40,
 26,
 44,
 36,
 41,
 51,
 29,
 21,
 42,
 29,
 26,
 39,
 41,
 30,
 40,
 43,
 36,
 29,
 41,
 52,
 31,
 25,
 28,
 30,
 50,
 47,
 39,
 38,
 24,
 31,
 32,
 35,
 42,
 21,
 47,
 36,
 57,
 42,
 36,
 23,
 32,
 28,
 39,
 29,
 33,
 47,
 31,
 50,
 28,
 33,
 29,
 35,
 40,
 46,
 47,
 34,
 37,
 35,
 41,
 23,
 45,
 43,
 23,
 37,
 25,
 26,
 43,
 26,
 36,
 49,
 23,
 34,
 31,
 26,
 40,
 54,
 36,
 62,
 32,
 28,
 45,
 41,
 41,
 43,
 34,
 26,
 30,
 34,
 54,
 42,
 42,
 35,
 42,
 24,
 51,
 45,
 31,
 29,
 32,
 56,
 47,
 59,
 37,
 39,
 38,
 52,
 26,
 27,
 27,
 64,
 33,
 43,
 35,
 43,
 49,
 48,
 57,
 26,
 44,
 26,
 32,
 26,
 38,
 57,
 33,
 36,
 22,
 49,
 55,
 27,
 49,
 54,
 46,
 25,
 36,
 40,
 43,
 31,
 34,
 25,
 30,
 46,
 39,
 41,
 29,
 31,
 25,
 37,
 51,
 25,
 36,
 60,
 41,
 36,
 36,
 33,
 35,
 41,
 40,
 35,
 33,
 34,
 24,
 39,
 25,
 26,
 41,
 33,
 37,
 46,
 48,
 62,
 49,
 39,
 37,
 25,
 37,
 39,
 24,
 64,
 42,
 49,
 59,
 39,
 26,
 55,
 24,
 28,
 37,
 30,
 23,
 27,
 38,
 43,
 35,
 36,
 38,
 26,
 53,
 25,
 36,
 25,
 43,
 43,
 32,
 62,
 27,
 33,
 40,
 46,
 42,
 25,
 35,
 31,
 24,
 37,
 35,
 51,
 28,
 61,
 43,
 47,
 42,
 43,
 35,
 38,
 38,
 24,
 55,
 34,
 36,
 27,
 44,
 45,
 26,
 26,
 44,
 53,
 25,
 29,
 38,
 28,
 35,
 27,
 30,
 39,
 41,
 47,
 37,
 36,
 30,
 48,
 31,
 32,
 42,
 28,
 24,
 45,
 28,
 24,
 23,
 33,
 32,
 39,
 53,
 25,
 28,
 37,
 30,
 33,
 32,
 25,
 41,
 40,
 24,
 42,
 35,
 52,
 23,
 35,
 48,
 38,
 35,
 22,
 32,
 38,
 63,
 57,
 27,
 24,
 42,
 41,
 35,
 28,
 48,
 30,
 54,
 45,
 51,
 37,
 48,
 36,
 57,
 52,
 27,
 31,
 45,
 39,
 37,
 48,
 33,
 34,
 39,
 28,
 46,
 28,
 32,
 33,
 38,
 40,
 46,
 27,
 38,
 26,
 26,
 28,
 31,
 32,
 24,
 22,
 50,
 27,
 54,
 34,
 36,
 29,
 29,
 40,
 24,
 30,
 27,
 37,
 23,
 24,
 23,
 45,
 28,
 29,
 23,
 27,
 46,
 23,
 44,
 25,
 23,
 26,
 46,
 22,
 32,
 24,
 36,
 42,
 34,
 45,
 23,
 39,
 49,
 48,
 23,
 55,
 23,
 52,
 47,
 28,
 37,
 38,
 30,
 25,
 25,
 43,
 54,
 22,
 37,
 51,
 25,
 44,
 27,
 33,
 39,
 30,
 43,
 48,
 49,
 24,
 26,
 29,
 42,
 25,
 40,
 44,
 51,
 28,
 33,
 26,
 23,
 48,
 40,
 23,
 41,
 44,
 28,
 31,
 37,
 30,
 35,
 27,
 45,
 30,
 28,
 32,
 39,
 46,
 43,
 36,
 34,
 27,
 62,
 35,
 28,
 56,
 28,
 57,
 26,
 39,
 57,
 57,
 49,
 25,
 50,
 56,
 47,
 44,
 57,
 33,
 25,
 36,
 49,
 26,
 26,
 30,
 27,
 35,
 38,
 26,
 32,
 50,
 33,
 42,
 40,
 26,
 27,
 34,
 49,
 39,
 50,
 54,
 31,
 26,
 36,
 40,
 45,
 36,
 59,
 23,
 49,
 42,
 48,
 33,
 43,
 27,
 31,
 23,
 27,
 39,
 27,
 44,
 25,
 58,
 26,
 23,
 30,
 51,
 34,
 39,
 51,
 27,
 38,
 32,
 25,
 30,
 42,
 48,
 41,
 27,
 52,
 35,
 33,
 34,
 45,
 42,
 25,
 52,
 42,
 23,
 50,
 57,
 51,
 39,
 27,
 47,
 29,
 60,
 51,
 57,
 39,
 32,
 23,
 24,
 34,
 27,
 38,
 27,
 48,
 24,
 47,
 41,
 39,
 26,
 38,
 24,
 35,
 62,
 43,
 23,
 28,
 37,
 42,
 36,
 39,
 43,
 29,
 36,
 42,
 54,
 41,
 51,
 23,
 43,
 51,
 50,
 26,
 40,
 37,
 28,
 41,
 43,
 44,
 27,
 34,
 37,
 25,
 54,
 38,
 43,
 35,
 54,
 31,
 48,
 24,
 55,
 35,
 25,
 52,
 55,
 23,
 28,
 31,
 48,
 61,
 29,
 40,
 50,
 24,
 26,
 27,
 46,
 44,
 35,
 49,
 32,
 36,
 28,
 34,
 29,
 43,
 47,
 43,
 25,
 49,
 32,
 42,
 31,
 29,
 23,
 44,
 29,
 34,
 26,
 45,
 32,
 34,
 49,
 38,
 63,
 41,
 25,
 33,
 37,
 38,
 29,
 36,
 53,
 54,
 27,
 44,
 40,
 54,
 46,
 43,
 42,
 47,
 36,
 50,
 49,
 29,
 32,
 40,
 32,
 30,
 40,
 31,
 28,
 30,
 27,
 51,
 48,
 39,
 43,
 31,
 24,
 38,
 36,
 36,
 31,
 43,
 47,
 24,
 39,
 35,
 24,
 39,
 47,
 23,
 32,
 51,
 39,
 35,
 31,
 39,
 53,
 33,
 24,
 33,
 44,
 38,
 54,
 31,
 46,
 61,
 30,
 43,
 54,
 36,
 41,
 29,
 26,
 36,
 29,
 29,
 27,
 26,
 32,
 34,
 22,
 28,
 24,
 41,
 33,
 28,
 25,
 59,
 23,
 26,
 32,
 24,
 34,
 47,
 28,
 37,
 36,
 24,
 22,
 52,
 44,
 24,
 35,
 48,
 27,
 31,
 27,
 55,
 46,
 54,
 31,
 30,
 37,
 49,
 45,
 57,
 37,
 29,
 32,
 45,
 23,
 53,
 31,
 29,
 31,
 57,
 27,
 45,
 27,
 38,
 30,
 31,
 39,
 26,
 34,
 35,
 35,
 30,
 42,
 31,
 38,
 37,
 46,
 40,
 33,
 38,
 37,
 35,
 24,
 32,
 32,
 34,
 25,
 36,
 22,
 27,
 29,
 25,
 42,
 119,
 26,
 43,
 32,
 47,
 34,
 27,
 37,
 23,
 30,
 25,
 46,
 26,
 26,
 25,
 55,
 47,
 28,
 44,
 29,
 31,
 32,
 41,
 28,
 24,
 33,
 37,
 39,
 24,
 54,
 51,
 25,
 33,
 59,
 39,
 27,
 51,
 27,
 48,
 44,
 28,
 35,
 41,
 37,
 27,
 40,
 33,
 35,
 37,
 29,
 45,
 27,
 24,
 46,
 32,
 34,
 45,
 47,
 46,
 33,
 38,
 33,
 55,
 24,
 59,
 41,
 23,
 52,
 37,
 41,
 39,
 24,
 61,
 22,
 26,
 41,
 39,
 39,
 53,
 40,
 37,
 33,
 44,
 41,
 25,
 51,
 54,
 28,
 46,
 49,
 35,
 23,
 31,
 25,
 37,
 47,
 34,
 33,
 51,
 41,
 53,
 31,
 45,
 29,
 40,
 45,
 55,
 61,
 34,
 56,
 38,
 29,
 22,
 38,
 49,
 51,
 37,
 37,
 47,
 22,
 53,
 27,
 30,
 39,
 60,
 37,
 ...]

In [32]:
data['Date.of.Birth'] = m

In [33]:
data.drop(['DisbursalDate','PERFORM_CNS.SCORE.DESCRIPTION'], axis = 1, inplace = True)

In [34]:
data.head().transpose()

,0,1,2,3,4
disbursed_amount,50578,47145,53278,57513,52378
asset_cost,58400,65550,61360,66113,60300
ltv,89.55,73.23,89.63,88.48,88.39
Date.of.Birth,35,34,34,26,42
Employment.Type,Salaried,Self employed,Self employed,Self employed,Self employed
MobileNo_Avl_Flag,1,1,1,1,1
Aadhar_flag,1,1,1,1,1
PAN_flag,0,0,0,0,0
VoterID_flag,0,0,0,0,0
Driving_flag,0,0,0,0,0
Passport_flag,0,0,0,0,0
PERFORM_CNS.SCORE,0,598,0,305,0
PRI.NO.OF.ACCTS,0,1,0,3,0
PRI.ACTIVE.ACCTS,0,1,0,0,0
PRI.OVERDUE.ACCTS,0,1,0,0,0
PRI.CURRENT.BALANCE,0,27600,0,0,0
PRI.SANCTIONED.AMOUNT,0,50200,0,0,0
PRI.DISBURSED.AMOUNT,0,50200,0,0,0
SEC.NO.OF.ACCTS,0,0,0,0,0
SEC.ACTIVE.ACCTS,0,0,0,0,0
SEC.OVERDUE.ACCTS,0,0,0,0,0
SEC.CURRENT.BALANCE,0,0,0,0,0
SEC.SANCTIONED.AMOUNT,0,0,0,0,0
SEC.DISBURSED.AMOUNT,0,0,0,0,0
PRIMARY.INSTAL.AMT,0,1991,0,31,0
SEC.INSTAL.AMT,0,0,0,0,0
NEW.ACCTS.IN.LAST.SIX.MONTHS,0,0,0,0,0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,0,1,0,0,0
AVERAGE.ACCT.AGE,0,1.08333,0,0.666667,0
CREDIT.HISTORY.LENGTH,0,1.08333,0,1.25,0
NO.OF_INQUIRIES,0,0,0,1,1
loan_default,0,1,0,1,1

In [35]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()
for i in data.columns:
    if isinstance(data[i][0], str):
        data[i] = encoder.fit_transform(data[i])

In [36]:
data.head(10).transpose()

,0,1,2,3,4,5,6,7,8,9
disbursed_amount,50578.00,47145.000000,53278.00,57513.000000,52378.00,54513.00,46349.00,43894.000000,53713.000000,52603.000000
asset_cost,58400.00,65550.000000,61360.00,66113.000000,60300.00,61900.00,61500.00,61900.000000,61973.000000,61300.000000
ltv,89.55,73.230000,89.63,88.480000,88.39,89.66,76.42,71.890000,89.560000,86.950000
Date.of.Birth,35.00,34.000000,34.00,26.000000,42.00,29.00,31.00,30.000000,28.000000,51.000000
Employment.Type,0.00,1.000000,1.00,1.000000,1.00,1.00,0.00,0.000000,1.000000,0.000000
MobileNo_Avl_Flag,1.00,1.000000,1.00,1.000000,1.00,1.00,1.00,1.000000,1.000000,1.000000
Aadhar_flag,1.00,1.000000,1.00,1.000000,1.00,1.00,1.00,1.000000,1.000000,0.000000
PAN_flag,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
VoterID_flag,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,1.000000
Driving_flag,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
Passport_flag,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
PERFORM_CNS.SCORE,0.00,598.000000,0.00,305.000000,0.00,825.00,0.00,17.000000,718.000000,818.000000
PRI.NO.OF.ACCTS,0.00,1.000000,0.00,3.000000,0.00,2.00,0.00,1.000000,1.000000,1.000000
PRI.ACTIVE.ACCTS,0.00,1.000000,0.00,0.000000,0.00,0.00,0.00,1.000000,1.000000,0.000000
PRI.OVERDUE.ACCTS,0.00,1.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
PRI.CURRENT.BALANCE,0.00,27600.000000,0.00,0.000000,0.00,0.00,0.00,72879.000000,-41.000000,0.000000
PRI.SANCTIONED.AMOUNT,0.00,50200.000000,0.00,0.000000,0.00,0.00,0.00,74500.000000,365384.000000,0.000000
PRI.DISBURSED.AMOUNT,0.00,50200.000000,0.00,0.000000,0.00,0.00,0.00,74500.000000,365384.000000,0.000000
SEC.NO.OF.ACCTS,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
SEC.ACTIVE.ACCTS,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
SEC.OVERDUE.ACCTS,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
SEC.CURRENT.BALANCE,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
SEC.SANCTIONED.AMOUNT,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
SEC.DISBURSED.AMOUNT,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
PRIMARY.INSTAL.AMT,0.00,1991.000000,0.00,31.000000,0.00,1347.00,0.00,0.000000,0.000000,2608.000000
SEC.INSTAL.AMT,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
NEW.ACCTS.IN.LAST.SIX.MONTHS,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,0.00,1.000000,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.000000
AVERAGE.ACCT.AGE,0.00,1.083333,0.00,0.666667,0.00,1.75,0.00,0.166667,4.666667,1.583333
CREDIT.HISTORY.LENGTH,0.00,1.083333,0.00,1.250000,0.00,2.00,0.00,0.166667,4.666667,1.583333
NO.OF_INQUIRIES,0.00,0.000000,0.00,1.000000,1.00,0.00,0.00,0.000000,1.000000,0.000000
loan_default,0.00,1.000000,0.00,1.000000,1.00,0.00,0.00,0.000000,0.000000,0.000000

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 32 columns):
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
Date.of.Birth                          233154 non-null int64
Employment.Type                        233154 non-null int32
MobileNo_Avl_Flag                      233154 non-null int64
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
AVERAGE.ACCT.AGE                       233154 non-null float64
CREDIT.HISTORY.LENGTH                  233154 non-null float64
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
dtypes: float64(3), int32(1), int64(28)
memory usage: 56.0 MB

In [38]:
cont_col = ['disbursed_amount','asset_cost','ltv','Date.of.Birth','PERFORM_CNS.SCORE','PRI.CURRENT.BALANCE','PRI.SANCTIONED.AMOUNT',
            'PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT',
            'AVERAGE.ACCT.AGE','CREDIT.HISTORY.LENGTH']

In [39]:
X = data.drop('loan_default',axis=1)
y = data['loan_default']

In [40]:
from scipy import stats
pd.Series([stats.f_oneway(X[i],y) for i in cont_col], index = cont_col)

disbursed_amount                             (4094324.885317847, 0.0)
asset_cost                                   (3738909.024151182, 0.0)
ltv                                          (9854228.400645033, 0.0)
Date.of.Birth                               (2513683.8609140143, 0.0)
PERFORM_CNS.SCORE                             (170365.145670287, 0.0)
PRI.CURRENT.BALANCE                          (7227.379810983244, 0.0)
PRI.SANCTIONED.AMOUNT                        (1973.823357908523, 0.0)
PRI.DISBURSED.AMOUNT                        (1961.0442090292413, 0.0)
SEC.CURRENT.BALANCE      (236.99913987120448, 1.8290587696765204e-53)
SEC.SANCTIONED.AMOUNT     (369.9434011391452, 2.0727088365824252e-82)
SEC.DISBURSED.AMOUNT       (360.495104494717, 2.3560657377735015e-80)
SEC.INSTAL.AMT           (100.58173294492484, 1.1424076546227775e-23)
AVERAGE.ACCT.AGE                              (31242.8581980812, 0.0)
CREDIT.HISTORY.LENGTH                        (54508.21678149728, 0.0)
dtype: object

In [41]:
cat_col = X.columns
cat_col.drop(cont_col)
cat_col

Index(['disbursed_amount', 'asset_cost', 'ltv', 'Date.of.Birth',
       'Employment.Type', 'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag',
       'VoterID_flag', 'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS', 'PRI.OVERDUE.ACCTS',
       'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT',
       'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS',
       'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT', 'SEC.DISBURSED.AMOUNT',
       'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT', 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
       'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES'],
      dtype='object')

In [42]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

Significance = pd.Series()

for i in cat_col:
    dfObserved = pd.crosstab(X[i],y)
    chi2, p, dof, expected = stats.chi2_contingency(dfObserved.values)
    Significance[i] = (1-p)*100

Significance.sort_values()

PRI.CURRENT.BALANCE                    0.000000e+00
PRI.SANCTIONED.AMOUNT                  0.000000e+00
MobileNo_Avl_Flag                      0.000000e+00
PRI.DISBURSED.AMOUNT                   0.000000e+00
PRIMARY.INSTAL.AMT                     5.483958e-08
SEC.DISBURSED.AMOUNT                   1.114388e-04
SEC.SANCTIONED.AMOUNT                  1.779073e-04
SEC.CURRENT.BALANCE                    9.150915e-03
SEC.INSTAL.AMT                         2.101016e-01
SEC.OVERDUE.ACCTS                      4.193900e+01
PAN_flag                               6.722257e+01
SEC.NO.OF.ACCTS                        9.408159e+01
SEC.ACTIVE.ACCTS                       9.715787e+01
Driving_flag                           9.947987e+01
Passport_flag                          9.997012e+01
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    1.000000e+02
AVERAGE.ACCT.AGE                       1.000000e+02
NEW.ACCTS.IN.LAST.SIX.MONTHS           1.000000e+02
disbursed_amount                       1.000000e+02
PRI.OVERDUE.ACCTS                      1.000000e+02
PRI.ACTIVE.ACCTS                       1.000000e+02
PRI.NO.OF.ACCTS                        1.000000e+02
PERFORM_CNS.SCORE                      1.000000e+02
VoterID_flag                           1.000000e+02
Aadhar_flag                            1.000000e+02
Employment.Type                        1.000000e+02
Date.of.Birth                          1.000000e+02
ltv                                    1.000000e+02
asset_cost                             1.000000e+02
CREDIT.HISTORY.LENGTH                  1.000000e+02
NO.OF_INQUIRIES                        1.000000e+02
dtype: float64

In [43]:
from sklearn.preprocessing import scale
X = scale(X)

In [44]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=.2,random_state=1)

In [45]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()

In [46]:
lg.fit(train_X,train_y)
lg.score(train_X,train_y)*100

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

78.2627343544764

In [47]:
lg.score(test_X,test_y)*100

78.22907507881023

In [48]:
test_data = pd.read_csv('Loan Default Test Data.csv')

In [49]:
test_data.head().transpose()

,0,1,2,3,4
UniqueID,655269,723482,758529,763449,708663
disbursed_amount,53478,55513,65282,46905,51428
asset_cost,63558,63163,84320,63896,63896
ltv,86.54,89.45,79.93,76.58,86.08
branch_id,67,67,78,78,78
supplier_id,22807,22807,23135,17014,17014
manufacturer_id,45,45,86,45,45
Current_pincode_ID,1497,1497,2071,2070,2069
Date.of.Birth,01-01-74,20-05-85,14-10-95,01-06-73,01-06-72
Employment.Type,Salaried,Self employed,Salaried,Self employed,Salaried
DisbursalDate,03-11-18,20-11-18,29-11-18,29-11-18,17-11-18
State_ID,6,6,4,4,4
Employee_code_ID,1998,1998,1646,1646,1646
MobileNo_Avl_Flag,1,1,1,1,1
Aadhar_flag,1,1,1,1,1
PAN_flag,0,0,1,0,0
VoterID_flag,0,0,0,0,0
Driving_flag,0,0,0,0,0
Passport_flag,0,0,0,0,0
PERFORM_CNS.SCORE,0,749,0,14,0
PERFORM_CNS.SCORE.DESCRIPTION,No Bureau History Available,C-Very Low Risk,No Bureau History Available,Not Scored: Only a Guarantor,No Bureau History Available
PRI.NO.OF.ACCTS,0,2,0,1,0
PRI.ACTIVE.ACCTS,0,1,0,1,0
PRI.OVERDUE.ACCTS,0,0,0,1,0
PRI.CURRENT.BALANCE,0,43898,0,132480,0
PRI.SANCTIONED.AMOUNT,0,48780,0,255000,0
PRI.DISBURSED.AMOUNT,0,48780,0,255000,0
SEC.NO.OF.ACCTS,0,0,0,0,0
SEC.ACTIVE.ACCTS,0,0,0,0,0
SEC.OVERDUE.ACCTS,0,0,0,0,0
SEC.CURRENT.BALANCE,0,0,0,0,0
SEC.SANCTIONED.AMOUNT,0,0,0,0,0
SEC.DISBURSED.AMOUNT,0,0,0,0,0
PRIMARY.INSTAL.AMT,0,5605,0,0,0
SEC.INSTAL.AMT,0,0,0,0,0
NEW.ACCTS.IN.LAST.SIX.MONTHS,0,1,0,0,0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,0,0,0,0,0
AVERAGE.ACCT.AGE,0yrs 0mon,0yrs 8mon,0yrs 0mon,2yrs 5mon,0yrs 0mon
CREDIT.HISTORY.LENGTH,0yrs 0mon,1yrs 0mon,0yrs 0mon,2yrs 5mon,0yrs 0mon
NO.OF_INQUIRIES,0,1,0,0,0

In [50]:
test_data.drop(['UniqueID','branch_id','supplier_id','manufacturer_id','State_ID','Employee_code_ID','Current_pincode_ID'],axis=1,inplace=True)

In [51]:
test_data.isnull().sum()

disbursed_amount                          0
asset_cost                                0
ltv                                       0
Date.of.Birth                             0
Employment.Type                        3443
DisbursalDate                             0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
dtype: int64

In [52]:
data['Employment.Type'][data['Employment.Type'].isnull()]='Self employed'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
l = []
for i in test_data['Date.of.Birth']:
    l.append(i[-2:])

In [54]:
m = []
for i in l:
    m.append(int('19'+i))

In [55]:
test_data['Date.of.Birth']=m

In [56]:
test_data.drop(['DisbursalDate','PERFORM_CNS.SCORE.DESCRIPTION'], axis = 1, inplace = True)

In [57]:
l = []
m = []
for i in test_data['AVERAGE.ACCT.AGE']:
    l.append(int(i[0]))
    m.append(int(i[-4])/12)

In [58]:
n = []
for i,j in zip(l,m):
    n.append(i+j)

In [59]:
test_data['AVERAGE.ACCT.AGE']=n

In [60]:
l = []
m = []
for i in test_data['CREDIT.HISTORY.LENGTH']:
    l.append(int(i[0]))
    m.append(int(i[-4])/12)

In [61]:
n = []
for i,j in zip(l,m):
    n.append(i+j)

In [62]:
test_data['CREDIT.HISTORY.LENGTH']=n

In [63]:
test_data.head().transpose()

,0,1,2,3,4
disbursed_amount,53478,55513,65282,46905,51428
asset_cost,63558,63163,84320,63896,63896
ltv,86.54,89.45,79.93,76.58,86.08
Date.of.Birth,1974,1985,1995,1973,1972
Employment.Type,Salaried,Self employed,Salaried,Self employed,Salaried
MobileNo_Avl_Flag,1,1,1,1,1
Aadhar_flag,1,1,1,1,1
PAN_flag,0,0,1,0,0
VoterID_flag,0,0,0,0,0
Driving_flag,0,0,0,0,0
Passport_flag,0,0,0,0,0
PERFORM_CNS.SCORE,0,749,0,14,0
PRI.NO.OF.ACCTS,0,2,0,1,0
PRI.ACTIVE.ACCTS,0,1,0,1,0
PRI.OVERDUE.ACCTS,0,0,0,1,0
PRI.CURRENT.BALANCE,0,43898,0,132480,0
PRI.SANCTIONED.AMOUNT,0,48780,0,255000,0
PRI.DISBURSED.AMOUNT,0,48780,0,255000,0
SEC.NO.OF.ACCTS,0,0,0,0,0
SEC.ACTIVE.ACCTS,0,0,0,0,0
SEC.OVERDUE.ACCTS,0,0,0,0,0
SEC.CURRENT.BALANCE,0,0,0,0,0
SEC.SANCTIONED.AMOUNT,0,0,0,0,0
SEC.DISBURSED.AMOUNT,0,0,0,0,0
PRIMARY.INSTAL.AMT,0,5605,0,0,0
SEC.INSTAL.AMT,0,0,0,0,0
NEW.ACCTS.IN.LAST.SIX.MONTHS,0,1,0,0,0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,0,0,0,0,0
AVERAGE.ACCT.AGE,0,0.666667,0,2.41667,0
CREDIT.HISTORY.LENGTH,0,1,0,2.41667,0
NO.OF_INQUIRIES,0,1,0,0,0

In [64]:
for i in test_data.columns:
    print(test_data[i].dtype)

int64
int64
float64
int64
object
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
float64
float64
int64

In [65]:
test_data['Employment.Type'] = test_data['Employment.Type'].astype('str')

In [66]:
test_data['Employment.Type'] = encoder.fit_transform(test_data['Employment.Type'])

In [67]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 31 columns):
disbursed_amount                       112392 non-null int64
asset_cost                             112392 non-null int64
ltv                                    112392 non-null float64
Date.of.Birth                          112392 non-null int64
Employment.Type                        112392 non-null int32
MobileNo_Avl_Flag                      112392 non-null int64
Aadhar_flag                            112392 non-null int64
PAN_flag                               112392 non-null int64
VoterID_flag                           112392 non-null int64
Driving_flag                           112392 non-null int64
Passport_flag                          112392 non-null int64
PERFORM_CNS.SCORE                      112392 non-null int64
PRI.NO.OF.ACCTS                        112392 non-null int64
PRI.ACTIVE.ACCTS                       112392 non-null int64
PRI.OVERDUE.ACCTS                      112392 non-null int64
PRI.CURRENT.BALANCE                    112392 non-null int64
PRI.SANCTIONED.AMOUNT                  112392 non-null int64
PRI.DISBURSED.AMOUNT                   112392 non-null int64
SEC.NO.OF.ACCTS                        112392 non-null int64
SEC.ACTIVE.ACCTS                       112392 non-null int64
SEC.OVERDUE.ACCTS                      112392 non-null int64
SEC.CURRENT.BALANCE                    112392 non-null int64
SEC.SANCTIONED.AMOUNT                  112392 non-null int64
SEC.DISBURSED.AMOUNT                   112392 non-null int64
PRIMARY.INSTAL.AMT                     112392 non-null int64
SEC.INSTAL.AMT                         112392 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           112392 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    112392 non-null int64
AVERAGE.ACCT.AGE                       112392 non-null float64
CREDIT.HISTORY.LENGTH                  112392 non-null float64
NO.OF_INQUIRIES                        112392 non-null int64
dtypes: float64(3), int32(1), int64(27)
memory usage: 26.2 MB

In [68]:
from sklearn.preprocessing import scale
test_data = scale(test_data)

In [69]:
lg.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
prediction = lg.predict(test_data)

In [71]:
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)